main > header.page-header {
  font-family: DinPro-Medium;
  font-size: 18.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container > section.college-cards {
  /* width: 639px;
  height: 377px; */
  min-width: 300px;
  position: relative;
  padding: 20px;
  flex: 1;
}

.container > section.college-cards > div.card-content {
  margin-top: 16px;
  border-radius: 3.8px;
  overflow: hidden;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px #444444;
  background-color: #ffffff;
}

.container > section.college-cards > div.promoted {
  position: absolute;
  right: 35px;
  font-family: DINPro-Light;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.container > section.college-cards > div.promoted > div.clipped {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 52%);
  background-color: #68a7ff;
  width: 100px;
  text-align: right;
  padding: 5% 10% 5% 5%;
}

.container > section.college-cards > div.card-content > div.image-section {
  position: relative;
}

.container
  > section.college-cards
  > div.card-content
  > div.image-section
  > div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0;
  opacity: 0.7;
}

.image-data {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "empty score"
    "distance ranking";
  color: #ffffff;
}

.image-data > div:first-child {
  grid-area: "score";
}
.image-data > div:nth-child(2) {
  grid-area: "distance";
}
.image-data > div:nth-child(3) {
  grid-area: "distance";
}
.image-data > div:last-child {
  grid-area: "ranking";
}

.image-data > div:nth-child(2) > div {
  margin-right: 15px;
  margin-top: 30px;
}

.image-data > div:nth-child(4) > span {
  margin-right: 15px;
  margin-bottom: 30px;
}

.score-box {
  width: max-content;
  border-radius: 3.8px;
  background-color: #f5a626;
  font-family: DinPro-Medium;
  font-size: 13.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 1% 2%;
}

.distance-box > div {
  margin-left: 15px;
  margin-bottom: 30px;
  width: 100%;
}

.distance-box > div > span {
  border-radius: 16.5px;
  background-color: #ffffff;
  font-family: DINPro;
  font-size: 13.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  padding: 2% 3%;
  width: max-content;
}

.distance-box > div > span:first-child {
  margin-right: 5%;
}

.college-detail {
  display: grid;
  color: #444444;
}

.college-detail > div {
  display: flex;
  justify-content: space-between;
  padding: 4px 15px;
}

.college-detail > div:first-child {
  padding-top: 15px;
}

.college-detail > div:last-child {
  padding-left: 0px;
  padding-bottom: 15px;
}

div.offer > div {
  padding: 8px 16px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.rating {
  margin-left: 10px;
}

.old-price > div {
  color: #ffffff;
  margin: 0 0 0 10px;
  background: #dd1c26;
  clip-path: polygon(19% 0, 100% 0, 100% 100%, 19% 100%, 0 50%);
}

.old-price > div > li {
  position: relative;
  padding: 0 7px;
}

.old-price > div > li > span {
  position: absolute;
  left: 15px;
}

.deal {
  clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
  background: #4bb89e;
  width: 45px;
  color: white;
  padding: 5px;
  height: 15px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
